
@{var prePopulatingValue = ViewBag.SearchTerm; }
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <div class="form-group">
        <input id="search" type="text" name="search" placeholder="Search Here" value="@prePopulatingValue">
    </div>

    <input type="submit" value="Search" class="btn btn-primary" />
}
