
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input id="search" type="text" name="search" placeholder="Search Here">
    </div>
    <input type="submit" value="Search" class="btn btn-primary" />
}
